data_structure_stack_exp_C.sln
.vs/data_structure_stack_exp_C/v16/.suo
.vs/data_structure_stack_exp_C/v16/Browse.VC.db
.vs/data_structure_stack_exp_C/v16/Browse.VC.db-shm
.vs/data_structure_stack_exp_C/v16/Browse.VC.db-wal
.vs/data_structure_stack_exp_C/v16/Browse.VC.opendb
.vs/data_structure_stack_exp_C/v16/ipch/AutoPCH/1387522cbdbd3eeb/MAPUTIL_MAIN.ipch
.vs/data_structure_stack_exp_C/v16/ipch/AutoPCH/27c7f300d6347ce6/STACKCALC_MAIN.ipch
.vs/data_structure_stack_exp_C/v16/ipch/AutoPCH/2f2d07f7e3642c2d/STACKUTIL_MAIN.ipch
.vs/data_structure_stack_exp_C/v16/ipch/AutoPCH/3fedc721f950338e/LINKEDSTACK.ipch
.vs/data_structure_stack_exp_C/v16/ipch/AutoPCH/417c631de59796a3/EXPRLINKEDSTACK.ipch
.vs/data_structure_stack_exp_C/v16/ipch/AutoPCH/4ba73d96d34914e8/STACKCALC.ipch
.vs/data_structure_stack_exp_C/v16/ipch/AutoPCH/6f40dc4a55e2ef68/MAPLINKEDSTACK.ipch
.vs/data_structure_stack_exp_C/v16/ipch/AutoPCH/7ff2cffec762b641/STACKUTIL.ipch
.vs/data_structure_stack_exp_C/v16/ipch/AutoPCH/8fc375276eba300b/MAPUTIL.ipch
data_structure_stack_exp_C/data_structure_stack_exp_C.vcxproj
data_structure_stack_exp_C/data_structure_stack_exp_C.vcxproj.filters
data_structure_stack_exp_C/data_structure_stack_exp_C.vcxproj.user
data_structure_stack_exp_C/Debug/data_structure_stack_exp_C.exe.recipe
data_structure_stack_exp_C/Debug/data_structure_stack_exp_C.ilk
data_structure_stack_exp_C/Debug/data_structure_stack_exp_C.log
data_structure_stack_exp_C/Debug/exprlinkedstack.obj
data_structure_stack_exp_C/Debug/linkedstack.obj
data_structure_stack_exp_C/Debug/maplinkedstack.obj
data_structure_stack_exp_C/Debug/maputil.obj
data_structure_stack_exp_C/Debug/maputil_main.obj
data_structure_stack_exp_C/Debug/stackcalc.obj
data_structure_stack_exp_C/Debug/stackcalc_main.obj
data_structure_stack_exp_C/Debug/stackutil.obj
data_structure_stack_exp_C/Debug/stackutil_main.obj
data_structure_stack_exp_C/Debug/vc142.idb
data_structure_stack_exp_C/Debug/vc142.pdb
data_structure_stack_exp_C/Debug/data_str.822084c5.tlog/CL.command.1.tlog
data_structure_stack_exp_C/Debug/data_str.822084c5.tlog/CL.read.1.tlog
data_structure_stack_exp_C/Debug/data_str.822084c5.tlog/CL.write.1.tlog
data_structure_stack_exp_C/Debug/data_str.822084c5.tlog/data_structure_stack_exp_C.lastbuildstate
data_structure_stack_exp_C/Debug/data_str.822084c5.tlog/link.command.1.tlog
data_structure_stack_exp_C/Debug/data_str.822084c5.tlog/link.read.1.tlog
data_structure_stack_exp_C/Debug/data_str.822084c5.tlog/link.write.1.tlog
Debug/data_structure_stack_exp_C.exe
Debug/data_structure_stack_exp_C.pdb
